@import "tailwindcss";

:root {
  --background: #2b1d12;
  --foreground: #f2eadd;
}

/* Custom Theme Override (if needed for v4) */
@theme {
  --font-sans: "Outfit", sans-serif;
  --color-brand-brown: #2b1d12; 
  --color-brand-cream: #f2eadd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Lenis Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
